header
  .main-wrapper
    .container-fluid
      a(href='/').logo
        img(src='assets/img/logo.png' alt='logo')
      nav
        .nav-icon
        .nav-menu
          a(href='#').nav-item Home
          a(href='#').nav-item Products
          a(href='#').nav-item Services
          a(href='#').nav-item Contact