header
  .main-wrapper
    .container-fluid
      a(href='#').logo
        img(src='/assets/img/logo.png')
      nav
        .nav-icon
          img(src='/assets/img/hamburger.svg')
        .nav-menu
          a(href='').nav-item Home
          a(href='').nav-item Products
          a(href='').nav-item Services
          a(href='').nav-item Contact