.shop-cart
  .main-wrapper
    h2.shop-cart-title The Shopping cart
    .container-fluid
      .row
        .col-md-5.col-sm-5.col-xs-12
          img.shop-cart-photo(src='/assets/img/cart.png', alt='basket')
        .col-md-7.col-sm-7.col-xs-12
          h4.shop-cart-subtitle Some Bullet text here
          p.shop-cart-info Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the industrys standard dummy text ever When an unknown printer took a galley of type and scrambled It to make a type specimen book. It has survived not only five centuries But also the leap into electronic typesetting, Remaining essentially unchanged. It was popularised The release of Letraset sheets containing Lorem Ipsum passages'