.teaser
  .main-wrapper
    .container-fluid
      #slider
        .slider-item
          img.teaser-photo(src='assets/img/teaser-photo.png', alt='phone')
          .teaser-content
            h2.teaser-title Lorem ipsum is simply
            span.teaser-subtitle
              | dummy text of the
              br
              | printing & typesetting
            a(href='#').teaser-button
              span Sign up now
        .slider-item
          img.teaser-photo(src='assets/img/teaser-photo.png', alt='phone')
          .teaser-content
            h2.teaser-title Lorem ipsum is simply
            span.teaser-subtitle
              | dummy text of the
              br
              | printing & typesetting
            a(href='#').teaser-button
              span Sign up now
        .slider-item
          img.teaser-photo(src='assets/img/teaser-photo.png', alt='phone')
          .teaser-content
            h2.teaser-title Lorem ipsum is simply
            span.teaser-subtitle
              | dummy text of the
              br
              | printing & typesetting
            a(href='#').teaser-button
              span Sign up now