.teaser
  .main-wrapper
    .container-fluid
      #slider
        .slider-item
          img.teaser-photo(src='/assets/img/teaser-photo.png', srcset="/assets/img/teaser-photo.png 1x, /assets/img/teaser-photo-2x.png 2x", alt='phone')
          .teaser-content
            h2.teaser-title Lorem ipsum is simply
            span.teaser-subtitle
              | dummy text of the
              br
              | printing & typesetting
            a(href='#').teaser-button
              span Sign up now
        .slider-item
          img.teaser-photo(src='/assets/img/teaser-photo.png', srcset="/assets/img/teaser-photo.png 1x, /assets/img/teaser-photo-2x.png 2x", alt='phone')
          .teaser-content
            h2.teaser-title Lorem ipsum is simply
            span.teaser-subtitle
              | dummy text of the
              br
              | printing & typesetting
            a(href='#').teaser-button
              span Sign up now
        .slider-item
          img.teaser-photo(src='/assets/img/teaser-photo.png', srcset="/assets/img/teaser-photo.png 1x, /assets/img/teaser-photo-2x.png 2x", alt='phone')
          .teaser-content
            h2.teaser-title Lorem ipsum is simply
            span.teaser-subtitle
              | dummy text of the
              br
              | printing & typesetting
            a(href='#').teaser-button
              span Sign up now