.work-stages
  .main-wrapper
    .container-fluid
      .row
        .col-md-4.col-sm-4.col-xs-12
          .work-stages-item
            .container-fluid
              .row
                .col-md-12.col-sm-12.col-xs-4
                  .stage-icon.pencil-icon
                    img(src='assets/img/pencil-icon.svg' alt='pencil')
                .col-md-12.col-sm-12.col-xs-8
                  .icon-definition
                    h6.icon-title Contrary to popular
                    span.icon-subtitle Lorem Ipsum is not simply random text. It has roots in a piece

        .col-md-4.col-sm-4.col-xs-12
          .work-stages-item
            .container-fluid
              .row
                .col-md-12.col-sm-12.col-xs-4
                  .stage-icon.display-icon
                    img(src='assets/img/display-icon.svg' alt='display')
                .col-md-12.col-sm-12.col-xs-8
                  .icon-definition
                    h6.icon-title Contrary to popular
                    span.icon-subtitle Lorem Ipsum is not simply random text. It has roots in a piece

        .col-md-4.col-sm-4.col-xs-12
          .work-stages-item
            .container-fluid
              .row
                .col-md-12.col-sm-12.col-xs-4
                  .stage-icon.basket-icon
                    img(src='assets/img/basket-icon.svg' alt='basket')
                .col-md-12.col-sm-12.col-xs-8
                  .icon-definition
                    h6.icon-title Contrary to popular
                    span.icon-subtitle Lorem Ipsum is not simply random text. It has roots in a piece